<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Alert</title>
  <link rel="stylesheet" href="app.css">
</head>
<body>
  <h1>{{ test }}</h1>
  <alert>Elit cum excepturi quod quae nihil eius. Voluptatem fugiat vitae.</alert>
  <alert type="success">Sit vel eius ad officia officiis? Natus nostrum quibusdam perferendis.</alert>
  <alert type="error">Lorem debitis aperiam deleniti suscipit consequatur cum cum rerum provident</alert>

  <template id="alert-template">
    <div :class="alertClasses" v-show="show">
      <strong>{{ type | capitalize }}
      <span v-show="type">!</span> </strong>
      <slot></slot>
      <span class="alert__close alert__close--white"
        @click="show = false"
      >
        x
      </span>
    </div>
  </template>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.10/vue.js"></script>
  <script src="app.js"></script>
</body>

</html>
